.mytitle{
    font-size: 80px;
}
.mysearch{
    margin-top: 8px;
  width: 500px;
  height: 30px;
  border-radius: 12px;
  font-size: 21px;
  padding: 8px;
}

.mybutton{
    margin-top: 30px;
  width: 200px;
  height: 40px;
  border-radius: 16px;
  font-size: 18px;
  padding: 8px;
}